name: Sync Staging Repo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout smithy-swift
        uses: actions/checkout@v4
      - name: Print working directory
        run: |
          pwd
      - name: Set up git
        run: |
          git config --global user.name "Repo Sync"
          git config --global user.email "repo-sync-action@github.com"
          git config --unset-all http.https://github.com/.extraheader
      - name: Push main to staging repo
        run: |
          git gc --prune=now --aggressive
          git repack -a -d --max-pack-size=50m
          git push -f https://${{ secrets.REPO_SYNC_AUTOMATION_USER_TOKEN }}@github.com/awslabs/private-smithy-swift-staging.git main
